In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import confusion_matrix, accuracy_score
from sklearn.metrics import classification_report
import joblib

In [7]:
data = pd.read_csv('/content/drive/MyDrive/Classroom/loan_data/testdemographics.csv')
print(data.head())

                         customerid                   birthdate  \
0  8a858f305c8dd672015c93b1db645db4  1976-08-28 00:00:00.000000
1  8a858f085a477386015a47fb049e49ca  1978-06-23 00:00:00.000000
2  8a858e6f5cd5e874015cd6f5634c39ad  1984-04-04 00:00:00.000000
3  8a858e9d5bfd7037015bfdab79f61305  1983-05-28 00:00:00.000000
4  8a858fde56eb02280156eb6dafc128ac  1982-03-29 00:00:00.000000

  bank_account_type  longitude_gps  latitude_gps bank_name_clients  \
0           Savings       5.296628      7.593965     Heritage Bank
1           Savings       3.294513      6.596602               UBA
2           Savings       8.501912      7.729364        First Bank
3           Savings       3.318904      6.681595               UBA
4           Savings       6.354624      4.949031        First Bank

  bank_branch_clients employment_status_clients level_of_education_clients
0                 NaN                 Permanent                        NaN
1                 NaN                 Permanent                        NaN
2                 NaN                 Permanent                        NaN
3                 NaN                 Permanent                        NaN
4                 NaN             Self-Employed                        NaN

In [8]:
data_one = pd.read_csv('/content/drive/MyDrive/Classroom/loan_data/testperf.csv')
print(data_one.head())

                         customerid  systemloanid  loannumber approveddate  \
0  8a858899538ddb8e015390510b321f08     301998974           4      40:48.0
1  8a858959537a097401537a4e316e25f7     301963615          10      43:40.0
2  8a8589c253ace09b0153af6ba58f1f31     301982236           6      15:11.0
3  8a858e095aae82b7015aae86ca1e030b     301971730           8      00:54.0
4  8a858e225a28c713015a30db5c48383d     301959177           4      04:33.0

  creationdate  loanamount  totaldue  termdays referredby
0      39:35.0       10000   12250.0        30        NaN
1      42:34.0       40000   44000.0        30        NaN
2      15:04.0       20000   24500.0        30        NaN
3      00:49.0       30000   34500.0        30        NaN
4      04:27.0       20000   24500.0        30        NaN

In [9]:
data_two = pd.read_csv('/content/drive/MyDrive/Classroom/loan_data/testprevloans.csv')
print(data_two.head())

                         customerid  systemloanid  loannumber  \
0  8a858899538ddb8e015390510b321f08     301621635           3
1  8a858959537a097401537a4e316e25f7     301810201           5
2  8a858959537a097401537a4e316e25f7     301831255           6
3  8a8589c253ace09b0153af6ba58f1f31     301627292           3
4  8a8589c253ace09b0153af6ba58f1f31     301621095           2

                 approveddate                creationdate  loanamount  \
0  2016-05-17 10:37:00.000000  2016-05-17 09:36:55.000000     10000.0
1  2017-02-04 21:28:59.000000  2017-02-04 20:28:52.000000     30000.0
2  2017-03-04 10:28:22.000000  2017-03-04 09:28:16.000000     30000.0
3  2016-06-02 14:27:14.000000  2016-06-02 13:27:08.000000     10000.0
4  2016-05-16 09:13:12.000000  2016-05-16 08:13:04.000000     10000.0

   totaldue  termdays                  closeddate referredby  \
0   13000.0        30  2016-06-17 00:04:15.000000        NaN
1   36800.0        60  2017-03-02 16:22:58.000000        NaN
2   34400.0        30  2017-04-02 00:44:24.000000        NaN
3   13000.0        30  2016-07-04 11:34:04.000000        NaN
4   11500.0        15  2016-06-02 00:02:58.000000        NaN

                 firstduedate             firstrepaiddate
0  2016-06-16 00:00:00.000000  2016-06-16 15:44:08.000000
1  2017-03-06 00:00:00.000000  2017-03-02 16:07:47.000000
2  2017-04-03 00:00:00.000000  2017-04-01 21:29:46.000000
3  2016-07-04 00:00:00.000000  2016-07-04 11:19:01.000000
4  2016-05-31 00:00:00.000000  2016-06-01 15:22:34.000000